<!-- upload_document.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Document</title>
</head>
<body>
    <h2>Upload Document</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.document }}
        {{ form.upload_type }}
        <br>
        {% if form.upload_type.value == 'existing_folder' %}
            {{ form.existing_folders }}
        {% elif form.upload_type.value == 'new_folder' %}
            {{ form.folder_name }}
        {% endif %}
        {{ form.filename }}
        <button type="submit">Upload</button>
    </form>
</body>
</html>
